{% extends "base.html" %}
{% from "_render_field.html" import render_field %}
{% block content %}
    <br>
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{image}}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
                <p class="text-secondary">Last seen: {{ current_user.last_seen }}</p>
            </div>
        </div>
        <br>
        <form method="POST" action="{{url_for('account.account', next=request.args.get('next'))}}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p class="h4">Account info</p>
            <hr>
            <div class="md-form form-group w-25">
                {{ render_field(form.username) }}
                {{ render_field(form.email) }}
                {{ form.picture }}<br><br>
                {{ render_field(form.about_me) }}
                {{ render_field(form.password) }}
                {{ form.submit(class_="btn btn-primary") }}
            </div>  
        </form>
    </div>
{% endblock %}