{% extends "base.html" %}
{% block title %}Admin Create User{% endblock %}
{% from "_render_field.html" import render_field %}

{% block content %}
    <br><p class="h2">Create new user</p><hr></br>
    <form action="{{ url_for('administrator.user_create_admin') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="md-form form-group w-50">
            {{ render_field(form.username, placeholder=form.username.label.text)}}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.password2) }}
            <div class="form-group">
                {{ form.admin.label }}
                {{ form.admin }}
            </div>
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
{% endblock %}